#1 Cryptocurrencies
#streamlit
#krakenex
#pandas
#matplotlib

#2 SQL
#pandas
#numpy
#sqlite3
#streamlit

#3 Sentiment Analysis
streamlit
matplotlib
seaborn
textblob
pandas 

#4 MNIST 
#streamlit
#tensorflow
#matplotlib
#numpy
